---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan","Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State","RegionName"]  )'''
    with open('university_towns.txt') as file:
        data = []
        for line in file:
            data.append(line[:-1])
    state_town = []
    for line in data:
        if line[-6:] == '[edit]':
            state = line[:-6]
        elif '(' in line:
            town = line[:line.index('(')-1]
            state_town.append([state,town])
        else:
            town = line
            state_town.append([state,town])
    state_college_df = pd.DataFrame(state_town,columns = ['State','RegionName'])
    return state_college_df
        

get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [4]:
x = pd.ExcelFile('gdplev.xls')
gdp = x.parse(skiprows=7)#skiprows=17,skip_footer=(38))
gdp = gdp[['Unnamed: 4', 'Unnamed: 5']]
gdp.columns = ['Quarter','GDP']
gdp['GDP'] = pd.to_numeric(gdp['GDP'])
gdp

    Quarter      GDP
0    1947q1    243.1
1    1947q2    246.3
2    1947q3    250.1
3    1947q4    260.3
4    1948q1    266.2
5    1948q2    272.9
6    1948q3    279.5
7    1948q4    280.7
8    1949q1    275.4
9    1949q2    271.7
10   1949q3    273.3
11   1949q4    271.0
12   1950q1    281.2
13   1950q2    290.7
14   1950q3    308.5
15   1950q4    320.3
16   1951q1    336.4
17   1951q2    344.5
18   1951q3    351.8
19   1951q4    356.6
20   1952q1    360.2
21   1952q2    361.4
22   1952q3    368.1
23   1952q4    381.2
24   1953q1    388.5
25   1953q2    392.3
26   1953q3    391.7
27   1953q4    386.5
28   1954q1    385.9
29   1954q2    386.7
..      ...      ...
248  2009q1  14383.9
249  2009q2  14340.4
250  2009q3  14384.1
251  2009q4  14566.5
252  2010q1  14681.1
253  2010q2  14888.6
254  2010q3  15057.7
255  2010q4  15230.2
256  2011q1  15238.4
257  2011q2  15460.9
258  2011q3  15587.1
259  2011q4  15785.3
260  2012q1  15973.9
261  2012q2  16121.9
262  2012q3  16227.9
263  2012q4  16297.3
264  2013q1  16475.4
265  2013q2  16541.4
266  2013q3  16749.3
267  2013q4  16999.9
268  2014q1  17025.2
269  2014q2  17285.6
270  2014q3  17569.4
271  2014q4  17692.2
272  2015q1  17783.6
273  2015q2  17998.3
274  2015q3  18141.9
275  2015q4  18222.8
276  2016q1  18281.6
277  2016q2  18450.1

[278 rows x 2 columns]

In [5]:
gdp_raw = gdp
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    gdp_filter = gdp_raw.loc[212:]

    quarters = []
    for i in range(len(gdp_filter) - 2):
        if (gdp_filter.iloc[i][1] > gdp_filter.iloc[i+1][1]) & (gdp_filter.iloc[i+1][1] > gdp_filter.iloc[i+2][1]):
            quarters.append(gdp_filter.iloc[i][0])
    return quarters[0]

get_recession_start()

'2008q3'

In [6]:
gdp_raw2 = gdp
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    gdp = gdp_raw2.loc[246:]   
    quarters = []
    for i in range(len(gdp) - 2):
        if (gdp.iloc[i][1] < gdp.iloc[i+1][1]) & (gdp.iloc[i+1][1] < gdp.iloc[i+2][1]):
            quarters.append(gdp.iloc[i][0])
# the first 2 quarters in the list will be connsecutive increase in  GDP, so in the 3rd quarter in the list will be recession end
    return quarters[2]

get_recession_end()

'2009q4'

In [7]:
end = get_recession_end()
start = get_recession_start()
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    rec_start = gdp[gdp['Quarter'] == start]
    i = rec_start.index[0] # of type int64
    rec_end = gdp[gdp['Quarter'] == end]
    j = rec_end.index[0] 
    test_list = []
    gdp_req_series = gdp[i:j]['GDP']
    min_index = gdp_req_series.idxmin(axis = 1)
    return gdp.loc[min_index][0]

get_recession_bottom()

'2009q2'

In [8]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    # following is the code for finding indeces of columns
    #     test = []
    #     for i in range(len(house_df.columns)):
        
    #         test.append(house_df.columns[i] + ' ' + str(i))
    import pandas as pd
    house_df = pd.read_csv('City_Zhvi_AllHomes.csv')
    house_df = house_df.sort_values(by = 'State', axis=0, ascending=True)
    house_df = house_df.set_index(['State','RegionName'])
    cols_drop = []
    for i in range(len(house_df.columns[:49])):
        cols_drop.append(house_df.columns[:49][i])
    house_df = house_df.drop(labels=cols_drop, axis=1)
    date_time_cols = pd.to_datetime(list(house_df.columns)) # converting columns to datetime
    house_df.columns = date_time_cols
    house_df = house_df.resample('Q', axis=1).mean() # converting into quarters
    house_df = house_df.rename(columns=lambda x: str(x.to_period('Q')).lower()) # convert datetime to strings


    return house_df

convert_housing_data_to_quarters()

                               2000q1         2000q2         2000q3  \
State RegionName
AK    Kenai                       NaN            NaN            NaN
      Ketchikan                   NaN            NaN            NaN
      Anchor Point                NaN            NaN            NaN
      Anchorage         174633.333333  175266.666667  179566.666667
      Palmer            168766.666667  170566.666667  174233.333333
      Seward                      NaN            NaN            NaN
      Kodiak                      NaN            NaN            NaN
      Tanaina           160500.000000  163500.000000  166366.666667
      Lakes             172733.333333  174133.333333  177266.666667
      North Pole        157466.666667  159100.000000  162133.333333
      Homer                       NaN            NaN            NaN
      Soldotna                    NaN            NaN            NaN
      Juneau            192466.666667  194300.000000  195166.666667
      Fairbanks         163200.000000  165033.333333  169300.000000
AL    Birmingham         54033.333333   54400.000000   54966.666667
      Gurley                      NaN            NaN            NaN
      Fosters           107500.000000  110200.000000  111400.000000
      Hope Hull         111666.666667  111800.000000  112966.666667
      Lipscomb                    NaN            NaN            NaN
      Guntersville       92933.333333   93500.000000   93600.000000
      Meadowbrook       200500.000000  203000.000000  206800.000000
      Northport         125866.666667  126366.666667  126633.333333
      Morris            124066.666667  124500.000000  124233.333333
      Good Hope                   NaN            NaN            NaN
      Orange Beach      221633.333333  222133.333333  224033.333333
      Robertsdale        86833.333333   87666.666667   89000.000000
      Cottondale        100833.333333  102633.333333  104766.666667
      Titus                       NaN            NaN            NaN
      Leeds              93833.333333   94433.333333   95066.666667
      Homewood          158333.333333  159666.666667  161100.000000
...                               ...            ...            ...
WI    Erin              208566.666667  209100.000000  209666.666667
WV    Nitro                       NaN            NaN            NaN
      Eskdale                     NaN            NaN            NaN
      Mineral Wells      75533.333333   77233.333333   81966.666667
      Cross Lanes        78133.333333   78066.666667   79233.333333
      Dunbar                      NaN            NaN            NaN
      Vienna             72266.666667   74533.333333   75333.333333
      Saint Albans       63833.333333   64700.000000   65200.000000
      South Charleston            NaN            NaN            NaN
      Parkersburg        54900.000000   55833.333333   56633.333333
      Chesapeake                  NaN            NaN            NaN
      East Bank                   NaN            NaN            NaN
      Belle              51066.666667   51300.000000   52200.000000
      Marmet                      NaN            NaN            NaN
      Upper Falls        53033.333333   52333.333333   52100.000000
      Waverly            62366.666667   62933.333333   65300.000000
      Sissonville        57200.000000   58200.000000   61200.000000
      Charleston         59533.333333   59366.666667   59366.666667
      Clendenin          39966.666667   38200.000000   40500.000000
      Washington         83900.000000   86033.333333   88333.333333
      Williamstown       82933.333333   85200.000000   86466.666667
      Davisville                  NaN            NaN            NaN
      Coal Fork                   NaN            NaN            NaN
      Elkview                     NaN            NaN            NaN
WY    Burns             101533.333333  104566.666667  108366.666667
      Bar Nunn           93033.333333   89666.666667   88900.000000
      Evansville        128033.333333  128766.666667  130833.333333
      Cheyenne          116866.666667  120033.333333  121533.333333
      Casper             89233.333333   89600.000000   89733.333333
      Pine Bluffs        93733.333333   95066.666667   94633.333333

                               2000q4         2001q1         2001q2  \
State RegionName
AK    Kenai                       NaN            NaN            NaN
      Ketchikan                   NaN            NaN            NaN
      Anchor Point                NaN            NaN            NaN
      Anchorage         182833.333333  182766.666667  183933.333333
      Palmer            175533.333333  169466.666667  163233.333333
      Seward                      NaN            NaN            NaN
      Kodiak                      NaN            NaN            NaN
      Tanaina           168033.333333  158766.666667  149200.000000
      Lakes             179133.333333  172400.000000  166000.000000
      North Pole        165500.000000  159433.333333  149766.666667
      Homer                       NaN            NaN            NaN
      Soldotna                    NaN            NaN            NaN
      Juneau            194166.666667  197166.666667  199533.333333
      Fairbanks         172800.000000  164433.333333  157800.000000
AL    Birmingham         56066.666667   56833.333333   57600.000000
      Gurley                      NaN            NaN            NaN
      Fosters           115700.000000  114200.000000  113000.000000
      Hope Hull         114633.333333  115266.666667  112333.333333
      Lipscomb                    NaN            NaN            NaN
      Guntersville       93966.666667   94133.333333   94533.333333
      Meadowbrook       210500.000000  212033.333333  213866.666667
      Northport         126966.666667  128666.666667  130700.000000
      Morris            125800.000000  125566.666667  124966.666667
      Good Hope                   NaN            NaN            NaN
      Orange Beach      229233.333333  236300.000000  240366.666667
      Robertsdale        91100.000000   94366.666667   95766.666667
      Cottondale        105300.000000  106733.333333  109233.333333
      Titus                       NaN            NaN            NaN
      Leeds              96366.666667   98733.333333  101000.000000
      Homewood          164933.333333  167800.000000  169233.333333
...                               ...            ...            ...
WI    Erin              214133.333333  225700.000000  236166.666667
WV    Nitro                       NaN            NaN            NaN
      Eskdale                     NaN            NaN            NaN
      Mineral Wells      85300.000000   86700.000000   87133.333333
      Cross Lanes        79466.666667   78800.000000   79366.666667
      Dunbar                      NaN            NaN            NaN
      Vienna             76533.333333   77400.000000   77366.666667
      Saint Albans       65900.000000   66366.666667   66466.666667
      South Charleston            NaN            NaN            NaN
      Parkersburg        56833.333333   57400.000000   57566.666667
      Chesapeake                  NaN            NaN            NaN
      East Bank                   NaN            NaN            NaN
      Belle              51166.666667   51266.666667   51966.666667
      Marmet                      NaN            NaN            NaN
      Upper Falls        50900.000000   50366.666667   49766.666667
      Waverly            66600.000000   67933.333333   69366.666667
      Sissonville        60700.000000   59000.000000   57133.333333
      Charleston         59633.333333   60400.000000   59866.666667
      Clendenin          39000.000000   42700.000000   42233.333333
      Washington         90466.666667   93500.000000   94933.333333
      Williamstown       87000.000000   86633.333333   86166.666667
      Davisville                  NaN            NaN            NaN
      Coal Fork                   NaN            NaN            NaN
      Elkview                     NaN            NaN            NaN
WY    Burns             113000.000000  115833.333333  117200.000000
      Bar Nunn           93500.000000   98833.333333   99900.000000
      Evansville        132066.666667  130566.666667  131433.333333
      Cheyenne          123633.333333  125533.333333  126300.000000
      Casper             93166.666667   95500.000000   97633.333333
      Pine Bluffs        98066.666667  103233.333333  104600.000000

                               2001q3         2001q4         2002q1  \
State RegionName
AK    Kenai                       NaN            NaN            NaN
      Ketchikan                   NaN            NaN            NaN
      Anchor Point                NaN            NaN            NaN
      Anchorage         188566.666667  191866.666667  193966.666667
      Palmer            166933.333333  168933.333333  165300.000000
      Seward                      NaN            NaN            NaN
      Kodiak                      NaN            NaN            NaN
      Tanaina           150966.666667  151600.000000  153033.333333
      Lakes             169500.000000  170766.666667  168766.666667
      North Pole        151266.666667  151000.000000  150033.333333
      Homer                       NaN            NaN            NaN
      Soldotna                    NaN            NaN            NaN
      Juneau            202433.333333  206300.000000  209066.666667
      Fairbanks         158200.000000  154666.666667  152766.666667
AL    Birmingham         58433.333333   58700.000000   59500.000000
      Gurley                      NaN            NaN            NaN
      Fosters           109766.666667  110200.000000  111200.000000
      Hope Hull         113300.000000  113500.000000  114266.666667
      Lipscomb                    NaN            NaN            NaN
      Guntersville       92600.000000   94666.666667   98133.333333
      Meadowbrook       214833.333333  213500.000000  210300.000000
      Northport         130866.666667  132400.000000  133000.000000
      Morris            125700.000000  126966.666667  127300.000000
      Good Hope                   NaN            NaN            NaN
      Orange Beach      244100.000000  245800.000000  243333.333333
      Robertsdale        96066.666667   96766.666667   96400.000000
      Cottondale        109200.000000  109900.000000  109333.333333
      Titus                       NaN            NaN            NaN
      Leeds              99666.666667   99266.666667  100600.000000
      Homewood          170466.666667  172966.666667  175600.000000
...                               ...            ...            ...
WI    Erin              247766.666667  245966.666667  246533.333333
WV    Nitro                       NaN            NaN            NaN
      Eskdale                     NaN            NaN            NaN
      Mineral Wells      83666.666667   81500.000000   82833.333333
      Cross Lanes        78100.000000   78766.666667   78733.333333
      Dunbar                      NaN            NaN            NaN
      Vienna             77966.666667   78900.000000   78233.333333
      Saint Albans       67266.666667   66100.000000   64600.000000
      South Charleston            NaN            NaN            NaN
      Parkersburg        57933.333333   58866.666667   59500.000000
      Chesapeake         40550.000000   40433.333333   39633.333333
      East Bank          39750.000000   41366.666667   43233.333333
      Belle              50166.666667   49333.333333   48666.666667
      Marmet             47800.000000   46800.000000   46533.333333
      Upper Falls        49700.000000   50500.000000   51433.333333
      Waverly            68566.666667   68166.666667   67366.666667
      Sissonville        53566.666667   53833.333333   53400.000000
      Charleston         61000.000000   60766.666667   59000.000000
      Clendenin          41700.000000   43800.000000   43433.333333
      Washington         93166.666667   90933.333333   91266.666667
      Williamstown       85300.000000   84400.000000   84133.333333
      Davisville                  NaN            NaN            NaN
      Coal Fork          43350.000000   43200.000000   43466.666667
      Elkview                     NaN            NaN            NaN
WY    Burns             117800.000000  117633.333333  117333.333333
      Bar Nunn           99100.000000   98333.333333   98633.333333
      Evansville        132400.000000  133466.666667  133300.000000
      Cheyenne          126466.666667  128133.333333  128466.666667
      Casper             99433.333333  100633.333333  101733.333333
      Pine Bluffs       106500.000000  104066.666667  102233.333333

                               2002q2    ...            2014q2         2014q3  \
State RegionName                         ...
AK    Kenai                       NaN    ...     199466.666667  197966.666667
      Ketchikan                   NaN    ...     196866.666667  197100.000000
      Anchor Point                NaN    ...     157800.000000  158000.000000
      Anchorage         196700.000000    ...     278200.000000  280766.666667
      Palmer            164800.000000    ...     225566.666667  228766.666667
      Seward                      NaN    ...     194600.000000  190533.333333
      Kodiak                      NaN    ...     256400.000000  256966.666667
      Tanaina           156100.000000    ...     208900.000000  211000.000000
      Lakes             169900.000000    ...     228200.000000  233966.666667
      North Pole        151866.666667    ...     199933.333333  199400.000000
      Homer                       NaN    ...     233033.333333  232900.000000
      Soldotna                    NaN    ...     210366.666667  209300.000000
      Juneau            209866.666667    ...     328266.666667  331833.333333
      Fairbanks         154533.333333    ...     209233.333333  207100.000000
AL    Birmingham         59866.666667    ...      61733.333333   60900.000000
      Gurley                      NaN    ...     141366.666667  139300.000000
      Fosters           111066.666667    ...     131366.666667  136966.666667
      Hope Hull         114200.000000    ...     129066.666667  130133.333333
      Lipscomb                    NaN    ...      50133.333333   49766.666667
      Guntersville       99833.333333    ...     133500.000000  136233.333333
      Meadowbrook       211733.333333    ...     251866.666667  255100.000000
      Northport         132666.666667    ...     159533.333333  160200.000000
      Morris            128066.666667    ...     151600.000000  152133.333333
      Good Hope                   NaN    ...      94933.333333   96000.000000
      Orange Beach      244600.000000    ...     326833.333333  331733.333333
      Robertsdale        97300.000000    ...     123866.666667  125366.666667
      Cottondale        107966.666667    ...     128500.000000  130566.666667
      Titus                       NaN    ...     131900.000000  132666.666667
      Leeds             101400.000000    ...     118000.000000  117633.333333
      Homewood          177766.666667    ...     257566.666667  262000.000000
...                               ...    ...               ...            ...
WI    Erin              247866.666667    ...     307900.000000  310133.333333
WV    Nitro                       NaN    ...      87366.666667   88633.333333
      Eskdale                     NaN    ...      69366.666667   69866.666667
      Mineral Wells      85033.333333    ...     116466.666667  119000.000000
      Cross Lanes        79100.000000    ...     123566.666667  124633.333333
      Dunbar                      NaN    ...      76566.666667   78866.666667
      Vienna             78933.333333    ...     101700.000000  103700.000000
      Saint Albans       63866.666667    ...      91133.333333   93333.333333
      South Charleston            NaN    ...     102266.666667  103933.333333
      Parkersburg        59366.666667    ...      79333.333333   79500.000000
      Chesapeake         38633.333333    ...      66400.000000   65633.333333
      East Bank          43333.333333    ...      69366.666667   70666.666667
      Belle              49633.333333    ...      72900.000000   74066.666667
      Marmet             46000.000000    ...      68366.666667   68333.333333
      Upper Falls        53500.000000    ...      91733.333333   97833.333333
      Waverly            67200.000000    ...      99933.333333  100400.000000
      Sissonville        55633.333333    ...      97633.333333  103766.666667
      Charleston         58333.333333    ...      95433.333333   99733.333333
      Clendenin          43833.333333    ...      82233.333333   82900.000000
      Washington         91000.000000    ...     126333.333333  130433.333333
      Williamstown       84833.333333    ...     122533.333333  125033.333333
      Davisville                  NaN    ...      65766.666667   66200.000000
      Coal Fork          43666.666667    ...      65933.333333   68133.333333
      Elkview                     NaN    ...      97433.333333  101066.666667
WY    Burns             117233.333333    ...     168866.666667  161933.333333
      Bar Nunn          100866.666667    ...     199233.333333  200933.333333
      Evansville        131066.666667    ...     296733.333333  305666.666667
      Cheyenne          129633.333333    ...     177466.666667  176733.333333
      Casper            101533.333333    ...     175766.666667  177300.000000
      Pine Bluffs       103566.666667    ...     148666.666667  154366.666667

                               2014q4         2015q1         2015q2  \
State RegionName
AK    Kenai             194600.000000  198500.000000  202700.000000
      Ketchikan         197700.000000  198033.333333  196300.000000
      Anchor Point      155566.666667  154266.666667  154100.000000
      Anchorage         281700.000000  284166.666667  287166.666667
      Palmer            229366.666667  234466.666667  237800.000000
      Seward            186600.000000  186800.000000  185533.333333
      Kodiak            257933.333333  258566.666667  256133.333333
      Tanaina           212466.666667  215200.000000  215633.333333
      Lakes             236966.666667  239833.333333  240033.333333
      North Pole        197366.666667  199066.666667  200300.000000
      Homer             231066.666667  233500.000000  238100.000000
      Soldotna          207966.666667  213500.000000  217233.333333
      Juneau            333200.000000  335666.666667  337366.666667
      Fairbanks         207000.000000  207766.666667  206466.666667
AL    Birmingham         59533.333333   59900.000000   61966.666667
      Gurley            138533.333333  143533.333333  145566.666667
      Fosters           144166.666667  149800.000000  147766.666667
      Hope Hull         132100.000000  137566.666667  137133.333333
      Lipscomb           49366.666667   48700.000000   50066.666667
      Guntersville      136100.000000  138533.333333  140266.666667
      Meadowbrook       257266.666667  258333.333333  258666.666667
      Northport         162800.000000  164966.666667  165500.000000
      Morris            154733.333333  156033.333333  156566.666667
      Good Hope         101266.666667  103566.666667  108066.666667
      Orange Beach      336833.333333  332466.666667  333966.666667
      Robertsdale       127233.333333  127900.000000  131633.333333
      Cottondale        133433.333333  134500.000000  135500.000000
      Titus             130433.333333  122966.666667  119233.333333
      Leeds             118866.666667  120266.666667  120466.666667
      Homewood          265166.666667  271266.666667  281666.666667
...                               ...            ...            ...
WI    Erin              311233.333333  314600.000000  316966.666667
WV    Nitro              89400.000000   89900.000000   88833.333333
      Eskdale            70166.666667   68166.666667   68066.666667

In [9]:
from scipy import stats
towns_univ = get_list_of_university_towns()
housing_data = convert_housing_data_to_quarters()
rec_bottom = get_recession_bottom()
rec_start = get_recession_start()

def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''

# code for calculating previous quarter
    prev_quarter = []
    for i in range(len(housing_data.columns)):
        if housing_data.columns[i] == rec_start:
            prev_quarter.append(housing_data.columns[i-1]) 
    
    housing_data['Price Ratio'] = housing_data[prev_quarter[0]].div(housing_data[rec_bottom])
    
    # finding university towns
    housing_data_reset = housing_data.reset_index()
    housing_data_reset['State'] = [states[state] for state in housing_data_reset['State']]
    new_df = pd.merge(housing_data_reset, towns_univ, on=towns_univ.columns.tolist(),
        indicator='_flag',how='outer')
    univ_list = new_df[new_df['_flag'] == 'both']
    non_univ_list = new_df[new_df['_flag'] != 'both']
    
#     evaluating which of the towns(university town, non-university town) have lower Price Ratio
#     The one which has lower price ratio is less effected by recession as compared to the other towns
    
    if univ_list['Price Ratio'].mean() < non_univ_list['Price Ratio'].mean():
        better = 'university town'
    else:
        better = 'non-university town'
        
   # finding out the p-value     
    
    p_val = stats.ttest_ind(univ_list['Price Ratio'],non_univ_list['Price Ratio'], nan_policy='omit')[1]
    
# f pvalue <0.01 we reject the null hypothesis and hence it's possible that 
# there is a relationship between {housing prices being affected by recession} and {being located in a university town or not a university town}

# if pvalue >0.01 we cannot reject the null hypothesis and hence there 
# is no relationship between {housing prices being affected by recession} and {being located in a university town or not a university town}
  
    if p_val < 0.01:
        different = True
    else:
        different = False


    return (different,p_val,better)
run_ttest()

(True, 0.0027240637047531249, 'university town')